<!-- navbar -->
<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container nav-bar w-container">
        <div class="navbar-wrapper">
         <!--Logo img -->   <a href="/" aria-current="page" class="brand w-nav-brand w--current">
                <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/640859541004c5508a2ee225_Sculptor%20logo.svg" loading="lazy" alt="" class="brand-logo"/>
            </a>
            <div class="nav-menu-wrapper">
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="/courses" class="nav-link w-nav-link">Courses</a>
                    <a href="/support" class="nav-link w-nav-link">Support</a>
                    <a href="/blog" class="nav-link w-nav-link">Blog</a>
                    <a href="/about" class="nav-link w-nav-link">About</a>
                    <a href="/user-account" class="button in-nav w-inline-block">
                        <div>Account</div>
                    </a>
                </nav>
            </div>
            <div class="menu-button w-nav-button">
                <div data-is-ix2-target="1" class="menu-lottie" data-w-id="dcc111eb-6c4f-d27e-6ad5-02371ef347b8" data-animation-type="lottie" data-src="https://assets.website-files.com/640849338ea47b23b7234a7e/640849338ea47b7c8e234b2a_lottieflow-menu-nav-07-ffffff-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.4791666666666665" data-duration="0" data-ix2-initial-state="0"></div>
            </div>
        </div>
    </div>
</div>
<!---->
