<div class="section overflow-hidden">
            <div class="container w-container">
                <div class="heading-grid">
                    <div id="w-node-d996e02b-b650-04c1-3ff2-6a3983a8a6a4-05c2b223">
                        <h2 class="no-top-margin max-15ch">
                            Don &#x27;t just take our word for it<br/>
                        </h2>
                        <p class="subheading">See what our students have to say about our courses:</p>
                    </div>
                    <div id="w-node-_748e89b8-a0eb-a3fb-3908-8d9305c2b229-05c2b223" class="trusted-by-users-wrap">
                        <div class="review-avatars-wrap">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 88vw, (max-width: 1279px) 80px, (max-width: 1439px) 6vw, 80px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min.jpg 746w" class="review-avatar smaller"/>
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 88vw, (max-width: 1279px) 80px, (max-width: 1439px) 6vw, 80px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min.jpg 746w" class="review-avatar smaller"/>
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 88vw, (max-width: 1279px) 80px, (max-width: 1439px) 6vw, 80px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min.jpg 746w" class="review-avatar smaller"/>
                        </div>
                        <h5>
                            Trusted by <span class="gradient-text">+5,000</span>
                            students
                        </h5>
                    </div>
                </div>
            </div>
            <div class="marquee-wrap">
                <div id="w-node-_4aa01a68-a647-797b-c95f-d99d261f32e3-261f32e3" class="marquee-block">
                    <div class="review-card">
                        <p class="review-paragraph">&quot;I was able to build my first website within days of starting the course. The lessons were easy to follow and the instructors were always available to answer questions.&quot;</p>
                        <div class="review-author">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 59.59375px, (max-width: 1279px) 79.59375px, (max-width: 1439px) 6vw, 79.59375px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min.jpg 746w" class="review-avatar"/>
                            <div class="review-author-credentials">
                                <div>
                                    <strong>Nick</strong>
                                </div>
                                <div class="font-size-0-7em">Mar 2023</div>
                                <img alt="" loading="lazy" src="https://assets.website-files.com/640849338ea47b23b7234a7e/640849338ea47bf404234ad3_google.svg" class="small-logo absolute"/>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <p class="review-paragraph">&quot;The course on React Native was the perfect introduction to mobile development. The lessons were well-structured and the instructors were engaging.&quot;</p>
                        <div class="review-author">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 59.59375px, (max-width: 1279px) 79.59375px, (max-width: 1439px) 6vw, 79.59375px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min.jpg 746w" class="review-avatar"/>
                            <div id="w-node-_4aa01a68-a647-797b-c95f-d99d261f32f4-261f32e3" class="review-author-credentials">
                                <div>
                                    <strong>James</strong>
                                </div>
                                <div class="font-size-0-7em">Feb 2023</div>
                                <img alt="" loading="lazy" src="https://assets.website-files.com/640849338ea47b23b7234a7e/640849338ea47bf404234ad3_google.svg" class="small-logo absolute"/>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <p class="review-paragraph">&quot;The courses on this website are a fantastic resource for anyone looking to learn web design and development. I would highly recommend them to anyone!&quot;</p>
                        <div class="review-author">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 59.59375px, (max-width: 1279px) 79.59375px, (max-width: 1439px) 6vw, 79.59375px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min.jpg 746w" class="review-avatar"/>
                            <div class="review-author-credentials">
                                <div>
                                    <strong>Jenna</strong>
                                </div>
                                <div class="font-size-0-7em">Feb 2023</div>
                                <img alt="" loading="lazy" src="https://assets.website-files.com/640849338ea47b23b7234a7e/640849338ea47bf404234ad3_google.svg" class="small-logo absolute"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="w-node-_4aa01a68-a647-797b-c95f-d99d261f32e3-261f32e3" class="marquee-block">
                    <div class="review-card">
                        <p class="review-paragraph">&quot;I was able to build my first website within days of starting the course. The lessons were easy to follow and the instructors were always available to answer questions.&quot;</p>
                        <div class="review-author">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 59.59375px, (max-width: 1279px) 79.59375px, (max-width: 1439px) 6vw, 79.59375px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d034945e014_unsplash_dt60oksDTx8-min.jpg 746w" class="review-avatar"/>
                            <div class="review-author-credentials">
                                <div>
                                    <strong>Nick</strong>
                                </div>
                                <div class="font-size-0-7em">Mar 2023</div>
                                <img alt="" loading="lazy" src="https://assets.website-files.com/640849338ea47b23b7234a7e/640849338ea47bf404234ad3_google.svg" class="small-logo absolute"/>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <p class="review-paragraph">&quot;The course on React Native was the perfect introduction to mobile development. The lessons were well-structured and the instructors were engaging.&quot;</p>
                        <div class="review-author">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 59.59375px, (max-width: 1279px) 79.59375px, (max-width: 1439px) 6vw, 79.59375px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12d30e345e011_unsplash_XHVpWcr5grQ-min.jpg 746w" class="review-avatar"/>
                            <div id="w-node-_4aa01a68-a647-797b-c95f-d99d261f32f4-261f32e3" class="review-author-credentials">
                                <div>
                                    <strong>James</strong>
                                </div>
                                <div class="font-size-0-7em">Feb 2023</div>
                                <img alt="" loading="lazy" src="https://assets.website-files.com/640849338ea47b23b7234a7e/640849338ea47bf404234ad3_google.svg" class="small-logo absolute"/>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <p class="review-paragraph">&quot;The courses on this website are a fantastic resource for anyone looking to learn web design and development. I would highly recommend them to anyone!&quot;</p>
                        <div class="review-author">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 59.59375px, (max-width: 1279px) 79.59375px, (max-width: 1439px) 6vw, 79.59375px" srcset="https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min-p-500.jpeg 500w, https://assets.website-files.com/640849338ea47b23b7234a7e/6426b2f9dbf12da95e45e017_unsplash_IHIgnhLvz5Q-min.jpg 746w" class="review-avatar"/>
                            <div class="review-author-credentials">
                                <div>
                                    <strong>Jenna</strong>
                                </div>
                                <div class="font-size-0-7em">Feb 2023</div>
                                <img alt="" loading="lazy" src="https://assets.website-files.com/640849338ea47b23b7234a7e/640849338ea47bf404234ad3_google.svg" class="small-logo absolute"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container w-container"></div>
        </div>
   