<!--footer-->
<div class="section footer">
    <div class="container w-container">
        <div class="footer-wrapper">
            <div class="footer-columns-wrap">
                <div id="w-node-dadbcdc8-3a97-37ca-8066-bf10a86a4cb1-c7a35215" class="footer-column">
                  <!--Logo img -->  <a href="/" aria-current="page" class="brand footer w-nav-brand w--current">
                        <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/640859541004c5508a2ee225_Sculptor%20logo.svg" loading="lazy" alt="" class="brand-logo"/>
                    </a>
                    <div class="paragraph-smaller max-width-40ch">© All rights reserved.</div>
                </div>
               <!--discover column --> <div class="footer-column">
                    <div class="footer-column-heading">Discover</div>
                    <a href="/" aria-current="page" class="footer-link w--current">Home</a>
                    <a href="/support" class="footer-link">Support</a>
                    <a href="/blog" class="footer-link">Blog</a>
                    <a href="/about" class="footer-link">About</a>
                </div>
               <!--courses column --> <div class="footer-column">
                    <div class="footer-column-heading">Courses</div>
                    <a href="/courses" class="footer-link">All courses</a>
                    <div class="footer-links-clw w-dyn-list">
                        <div role="list" class="footer-links-cl w-dyn-items">
                            <div role="listitem" class="footer-links-cli w-dyn-item">
                                <a href="/online-courses/react-native-for-mobile-development" class="footer-link">React Native for Mobile Development</a>
                            </div>
                            <div role="listitem" class="footer-links-cli w-dyn-item">
                                <a href="/online-courses/javascript-for-beginners" class="footer-link">JavaScript for Beginners</a>
                            </div>
                            <div role="listitem" class="footer-links-cli w-dyn-item">
                                <a href="/online-courses/html-and-css-fundamentals" class="footer-link">HTML and CSS Fundamentals</a>
                            </div>
                        </div>
                    </div>
                </div>
              <!--template column -->  <div class="footer-column">
                    <div class="footer-column-heading">Template</div>
                    <a href="/style-guide" class="footer-link">Style guide</a>
                    <a href="/changelog" class="footer-link">Changelog</a>
                    <a href="/licencing" class="footer-link">Licencing</a>
                </div>
                <div id="w-node-_60df5893-d137-44ae-ea3f-3ca95a3ff2e1-c7a35215" class="footer-column">
                    <div class="footer-column-heading">Social</div>
                    <div class="socials-wrap in-footer">
                        <a href="https://discord.com/" target="_blank" class="social-link w-inline-block">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5c206178024f34d017_Discord.svg" loading="lazy" alt="" class="social-icon"/>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="social-link w-inline-block">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5c440efd609b83f245_Twitter.svg" loading="lazy" alt="" class="social-icon"/>
                        </a>
                        <a href="https://instagram.com/" target="_blank" class="social-link w-inline-block">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5cffa2b941e8a4dd25_Instagram.svg" loading="lazy" alt="" class="social-icon"/>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" class="social-link w-inline-block">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5ca249aa5f7649602a_Facebook.svg" loading="lazy" alt="" class="social-icon"/>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" class="social-link w-inline-block">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5d242b09573aa4d6cd_TikTok.svg" loading="lazy" alt="" class="social-icon"/>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" class="social-link w-inline-block">
                            <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5c12f1b4e5ea15a017_YouTube.svg" loading="lazy" alt="" class="social-icon"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->